# Python
__pycache__/
*.pyc
#.env
venv/

# Node.js
node_modules/
.env.local
.env.production
build/
dist/

# IDE
.idea/
.vscode/

/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.venv/